body{
  margin: auto;

}
* {
  box-sizing: border-box;
}
.title{
  background-color: #472426;
  text-align: center;
  padding: 30px  ;
  color: white;
  font-family: Helvetica;

}

.header {

  background-color: white;
  text-align: center;
  padding:0px ;

  color: #472426;
  z-index: +1;
  font-family: Helvetica;
}
.content{
  max-width: 100%;
  height: auto;
  z-index: -1;
  margin-left:34%;
    margin-right:10%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky + .content {
  padding-top: 102px;
}



.content *{
  box-sizing: border-box;
}

.container{
  position: relative;
  width: 250px;
  height: auto;

}
.column{
  float: left;
  width: 220px;
  height: auto;
  padding: 10px;
  vertical-align: middle;

}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;


}

.overlay  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color:gray ;
  padding: 0px;
}

.container:hover .overlay {
  opacity: 0.7;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

a:link {
    color: yellow;
    text-decoration: none;
    font-family: Helvetica;
}

a:visited{
    color: white;
    font-family: Helvetica;
}
img{
  width: 200px;
  height: 250px;
}
