.body{

  width: 90%;
  max-width: 900px;
  margin: 0 auto;

}
.background{

width: 100%
height:auto;
background-size: contain;
position: relative;


}

.History{

  width: 50%;
  height: 30%;
  padding-right: 20px;
  position: absolute;
  font-family: sans-serif;
  bottom: 80px;
  left: 30px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  opacity: 0.8;


}
footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
}
