@font-face {
  font-family:'Donau';
  src: url("DonauUppercase-Neue.otf");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

/*loading screen*/
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}


/* slideshow */
.load{
  animation: fadein 2s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: fadein 15s infinite;
}
.content{
  color: #fff;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-30%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}
.principal h1{
  font-size: 70px;
  margin-bottom: 10px;
  font-family: 'Donau', serif;
}
.principal p{
  font-size: 20px;
}
@keyframes fadein{
  0%{
    background-image: url('1.jpg');
  }
  25%{
    background-image: url('1.jpg');
  }
  25.01%{
    background-image: url('2.jpg');
  }
  50%{
    background-image: url('2.jpg');
  }
  50.01%{
    background-image: url('3.jpg');
  }
  75%{
    background-image: url('3.jpg');
  }
  75.01%{
    background-image: url('4.jpg');
  }
  100%{
    background-image: url('4.jpg');
  }
}

/* navigation bar */

.link{
  align-items: center;
  display: flex;
  flex-direction: row;
}

.home {
  margin-left: 30px;
  margin-right: 40px;
}
.about, .bread, .desserts{
  margin-left: 70px;
  margin-right: 40px;
}
.conversion {
  margin-left: 60px;
  margin-right: 20px;
}
.home, .about, .bread, .desserts, .conversion{
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.home:hover ,.about:hover, .bread:hover:hover, .desserts:hover:hover:hover, .conversion:hover{
  border-top:2px solid white ;
  border-bottom:2px solid white ;

}
