*{
  margin: 0px;
  padding: 0px
}
body{
  background: #dfe4ea;
}

.about{
  background: #eccc68;
  padding: 50px;
  margin-top: 20%;
  margin-left: 40%;
  cursor: pointer;
  outline: none;
  border:none;
}

.about:hover{
  background: #ff4757;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
   transition: 1s;
}
