@font-face {
  font-family:'Mixa';
  src: url("DonauUppercase-Neue.otf");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}
.load{
  animation: fadein 2s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: fadein 15s infinite;
}
.content{
  color: #fff;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-30%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}
.principal h1{
  font-size: 70px;
  margin-bottom: 10px;
  font-family: 'Mixa', serif;
}
.principal p{
  font-size: 20px;
}
@keyframes fadein{
  0%{
    background-image: url('1.jpg');
  }
  25%{
    background-image: url('1.jpg');
  }
  25.01%{
    background-image: url('2.jpg');
  }
  50%{
    background-image: url('2.jpg');
  }
  50.01%{
    background-image: url('3.jpg');
  }
  75%{
    background-image: url('3.jpg');
  }
  75.01%{
    background-image: url('4.jpg');
  }
  100%{
    background-image: url('4.jpg');
  }
}
.link{
  display: flex;
  height: 200px;
  align-items:center;
}
.home {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 40px;
  text-align: center;
}
.about{
  color: #fff;
  text-decoration: none;
  margin-left: 70px;
  margin-right: 40px;
  text-align: center;
}
.type {
  color: #fff;
  text-decoration: none;
  margin-left: 70px;
  margin-right: 40px;
  text-align: center;
}
.conversion {
  color: #fff;
  text-decoration: none;
  margin-left: 60px;
  margin-right: 20px;
  text-align: center;
}
