@font-face {
  font-family:'Donau';
  src: url("DonauUppercase-Neue.otf");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* slideshow */
.load{
  animation: fadein 2s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: fadein 15s infinite;
}
.content{
  color: #fff;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-30%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}
.principal h1{
  font-size: 70px;
  margin-bottom: 10px;
  font-family: 'Donau', serif;
}
.principal p{
  font-size: 20px;
}
@keyframes fadein{
  0%{
    background-image: url('1.jpg');
  }
  25%{
    background-image: url('1.jpg');
  }
  25.01%{
    background-image: url('2.jpg');
  }
  50%{
    background-image: url('2.jpg');
  }
  50.01%{
    background-image: url('3.jpg');
  }
  75%{
    background-image: url('3.jpg');
  }
  75.01%{
    background-image: url('4.jpg');
  }
  100%{
    background-image: url('4.jpg');
  }
}

/* --------------------------------------------------------------------------------------------------- */
/* menu */
.main{
  height:100vh;
  width:100%;
  position:fixed;
  overflow:hidden;
  z-index:999;
  transition: all 0.3s;
}

.icon{
  height:45px;
  width:30px;
  position:fixed;
  bottom:20px;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:999;
}

.icon:hover{
  cursor:pointer;
}

.line{
  height:5px;
  width:30px;
  background-color:white;
  position:absolute;
  bottom:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.line::before{
  content: '';
  height:5px;
  width:30px;
  background-color:white;
  position:absolute;
  top:-10px;
}

.line::after{
  content: '';
  height:5px;
  width:30px;
  background-color:white;
  position:absolute;
  top:10px;
}

.menu{
  height:100px;
  width:100%;
  position:absolute;
  bottom: 0;

  letter-spacing:5px;
}

.m1{
  color:black;
  text-decoration: none;
  height:100px;
  width:10%;
  text-align:center;
  float:left;
  position:absolute;
  top:100%;
  left:15%;
}

  .m2{
    color:black;
    text-decoration: none;
    height:100px;
    width:10%;
    text-align:center;
    float:left;
    position:absolute;
    top:100%;
    left:35%;
  }


  .m3{
    color:black;
    text-decoration: none;
    height:100px;
    width:10%;
    text-align:center;
    float:right;
    position:absolute;
    top:100%;
    right:35%;
  }

  .m4{
    color:black;
    text-decoration: none;
    height:100px;
    width:10%;
    text-align:center;
    float:right;
    position:absolute;
    top:100%;
    right: 15%;
  }
