
* {
  box-sizing: border-box;
}
body{
  margin: 0;

}
#logo{
  border:none; cursor:pointer; outline:none;
  background:url(brand.png) no-repeat;
  	width:300px;
  	height:70px;
  }
/* --------------------------------------------------------------------------------------------------- */
/* menu */
.main{
  height:100%;
  width:100%;
  position:fixed;
  overflow:hidden;
  z-index:999;
  transition: all 0.3s;
}

.icon{
  height:45px;
  width:30px;
  position:fixed;
  bottom:20px;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:999;
}

.icon:hover{
  cursor:pointer;
}

.line{
  height:5px;
  width:30px;
  background-color:white;
  position:absolute;
  bottom:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.line::before{
  content: '';
  height:5px;
  width:30px;
  background-color:white;
  position:absolute;
  top:-10px;
}

.line::after{
  content: '';
  height:5px;
  width:30px;
  background-color:white;
  position:absolute;
  top:10px;
}

.menu{
  height:100px;
  width:100%;
  position:absolute;
  bottom: 0;

  letter-spacing:5px;
}

.m1{
  color:black;
  text-decoration: none;
  height:100px;
  width:10%;
  text-align:center;
  float:left;
  position:absolute;
  top:100%;
  left:15%;
}

  .m2{
    color:black;
    text-decoration: none;
    height:100px;
    width:10%;
    text-align:center;
    float:left;
    position:absolute;
    top:100%;
    left:35%;
  }


  .m3{
    color:black;
    text-decoration: none;
    height:100px;
    width:10%;
    text-align:center;
    float:right;
    position:absolute;
    top:100%;
    right:35%;
  }

  .m4{
    color:black;
    text-decoration: none;
    height:100px;
    width:10%;
    text-align:center;
    float:right;
    position:absolute;
    top:100%;
    right: 15%;
  }

@font-face {
   font-family: 'Mixa';
   src: url("DonauUppercase-Neue.otf");
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:Arial;

}

li a:hover {
  background-color: #111;
}



.header {

  background-color: white;
  text-align: center;
  padding:30px ;
  font-size: 50px;
  color: #333738;
  z-index: +1;
  font-family: 'Mixa';
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


  .sticky + .content {
    padding-top: 102px;
  }




  .content{


    max-width: 100%;
    height: auto;
    z-index: -1;
    margin-left: 50px;


  }

  .intro, .middle, .hello {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
   background-color:
    height: 100vh;
  }
  h1 {


  color: #333;
  	font-family: 'Playfair Display';
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 60px;

  }
  h2{
    color: #333;
    font-family: 'Playfair Display';
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
  }
  h3 {
  color: #333;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 100px;
  }
  p {
    color: #555;
  	font-family: 'Playfair Display';
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 24px;
  }
  .content1, .content2 ,.content3 {
    display: table-cell;
    vertical-align: middle;
  }



table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 1px solid #ddd;
  color: #404040;
  margin-left: 100px;

}

th, td {
  text-align: left;
  padding: 5px;
  height: 2px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
  footer {
    padding: 1% 5%;
    text-align:center;
    background-color: #373B44;
    color: white;
    padding-left: 0;
}

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
  margin-right: 30px;
  margin-left:-50px;
  float: right;
}
.calc{

      width: 20%;
      height: 1500px;
      padding-right: 50px;
      position: absolute;
      font-family: sans-serif;
      top: 300px;
      right: 100px;
      color: black;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #D5D2C1;
      opacity: 0.5;

  }
